@import 'shared';

.header {
  text-align: center;
  background: black;
  color: white;

  h1 {
    font-family: 'IM Fell English', serif;
    margin: 0 0 20px;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}

.signup {
  background: url('/images/level1.png') no-repeat right center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;

  .content {
    width: 50%;
    float: left;
    margin: 40px 0;
  }
}

.about {
  background: url('/images/level2.png') no-repeat left center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;

  .content {
    width: 50%;
    float: right;
    margin: 40px 0;
  }
}

.social {
  background: url('/images/level3.png') no-repeat right center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;

  .content {
    width: 50%;
    float: left;
    margin: 40px 0;
  }
}

.footer {
  line-height: 36px;
}

.mixpanel {
  float: right;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255, 255, 255, 0.8);
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.8);
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.8);
}
