@import 'mixins';

@color: hsl(205, 34%, 36%);

body {
  background-color: lighten(@color, 60%);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

menu, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

blockquote {
  font-style: italic;
  color: lighten(@color, 25%);
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
  border-left: 2px solid lighten(@color, 25%);
}

.footer {
  color: lighten(@color, 20%);
  padding: 40px;
  background: white;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 960px) {
  .section {
    h3 {
      margin: 10px 0 20px;
    }

    .content {
      padding: 40px;
      width: auto;
      margin: 0 40px;
    }
  }
}
