body {
  background-color: #f1f5f8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
a {
  color: inherit;
}
menu,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
blockquote {
  font-style: italic;
  color: #7aa1bd;
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
  border-left: 2px solid #7aa1bd;
}
.footer {
  color: #6995b5;
  padding: 40px;
  background: white;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 960px) {
  .section h3 {
    margin: 10px 0 20px;
  }
  .section .content {
    padding: 40px;
    width: auto;
    margin: 0 40px;
  }
}
