body {
  background-color: #f1f5f8;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
a {
  color: inherit;
}
menu,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
blockquote {
  font-style: italic;
  color: #7aa1bd;
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
  border-left: 2px solid #7aa1bd;
}
.footer {
  color: #6995b5;
  padding: 40px;
  background: white;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 960px) {
  .section h3 {
    margin: 10px 0 20px;
  }
  .section .content {
    padding: 40px;
    width: auto;
    margin: 0 40px;
  }
}
.header {
  text-align: center;
  background: black;
  color: white;
}
.header h1 {
  font-family: 'IM Fell English', serif;
  margin: 0 0 20px;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
}
.signup {
  background: url('/images/level1.png') no-repeat right center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
}
.signup .content {
  width: 50%;
  float: left;
  margin: 40px 0;
}
.about {
  background: url('/images/level2.png') no-repeat left center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
}
.about .content {
  width: 50%;
  float: right;
  margin: 40px 0;
}
.social {
  background: url('/images/level3.png') no-repeat right center;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
}
.social .content {
  width: 50%;
  float: left;
  margin: 40px 0;
}
.footer {
  line-height: 36px;
}
.mixpanel {
  float: right;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */

  color: rgba(255, 255, 255, 0.8);
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: rgba(255, 255, 255, 0.8);
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: rgba(255, 255, 255, 0.8);
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: rgba(255, 255, 255, 0.8);
}
