@import 'shared.css';

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}

/* HEADER */
.header {
  font-family: 'IM Fell Great Primer', serif;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}

.video-fallback {
  background: url('/images/video-fallback.jpg') no-repeat center center;
  background-size: cover;
}

.header video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.header .hgroup {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -225px;
  opacity: 0.9;
  text-align: center;
}

.header .columns {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
}

.header .column {
  vertical-align: middle;
  display: table-cell;
}

.header .left {
  width: 60%;
}

.header .right {
  width: 40%;
}

.header h1 {
  font-size: 115px;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 12px;
}

.header h2 {
  font-size: 50px;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 10px;
  text-transform: lowercase;;
}

.header .download {
  display: inline-block;
  width: 300px;
  height: 89px;
  background: url('/images/download.png') no-repeat;
  background-size: 300px 89px;
}

.watch_wrapper {
  position: relative;
  background: url('/images/final-screenshot.jpg') no-repeat center center;
  background-size: cover;
  height: 90%;
}

.watch {
  cursor: pointer;
  border: none;
  background: transparent url('/images/play_small.png') no-repeat right center;
  display: inline-block;
  width: 150px;
  height: 150px;
  opacity: 0.4;
  padding: 0;

  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.watch:hover {
  opacity: 0.8;
}

.watch_wrapper .watch {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}

/* AWARDS */

.awards {
  text-align: center;
  margin: 96px 0 0;
}

.awards img {
  width: 250px;
  height: 131px;
  margin: 15px;
}

/* PRESS */

.press {
  padding: 20px 80px;
  background: #767c9a; /* #111 */
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.press blockquote {
  border-left-color: white;

  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.press blockquote.blur {
  opacity: 0.6;
}

.press p {
  text-align: center;
}

.press blockquote,
.press p {
  max-width: 600px;
  margin: 40px auto;
  line-height: 3/2;
  font-size: 18px;
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: none;
}

.modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -320px;

  text-align: center;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.6);
}

.modal .content p {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .header h1 {
    font-size: 90px;
  }

  .header h2 {
    font-size: 40px;
  }

  .header .hgroup {
    margin-top: -174px;
  }

  .header .download {
    width: 250px;
    height: 74px;
    background-size: 250px 74px;
  }

  .awards img {
    width: 200px;
    height: 105px;
  }
}

@media screen and (max-width: 1024px) {
  .header video {
    display: none;
  }

  .header .hgroup {
    margin-top: -227px;
  }

  .header .columns {
    width: auto;
    margin: 0;
    display: block;
  }

  .header .column {
    display: block;
  }

  .header .left,
  .header .right {
    width: auto;
  }

  .header .right {
    margin: 40px 0 0;
  }

  .awards {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: auto;
  }

  .header .hgroup {
    position: static;
    margin: 40px 0;
  }

  .header h1 {
    font-size: 64px;
  }

  .header h2 {
    font-size: 32px;
  }

  .awards img {
    display: block;
    margin: 20px auto;
  }

  .press {
    padding: 20px;
  }

  .watch_wrapper {
    height: 80%;
  }
}
