@import 'shared.css';

.header {
  background: #dedede url('/images/header_background.jpg') no-repeat center center;
  background-size: cover;
  text-align: left;
  padding: 96px 0;
  color: white;
}
  h1 {
    font-family: 'IM Fell English', serif;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 24px;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  h2 {
    width: 600px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 300;
  }


.section {
  color: #333;
  background: #efefef;
  overflow: hidden;
}

  .section h3 {
    color: #333;
    font-size: 24px;
    margin: 24px 0;
    padding: 0;
  }

  .section p {
    margin: 15px 0;
  }

  .section .content {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 48px 60px 60px;
    border-bottom: 1px solid #999;
  }

  .section.last .content {
    border-bottom: none;
  }


.links {
  display: none;
  overflow: hidden;
}

  .links li {
    float: left;
    text-align: center;
    width: 25%;
  }

    .links li a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: block;
      /* background: saturate(lighten(@color, 30%), 10%); */
    }

    .links li a:hover {
      /* background: saturate(lighten(@color, 40%), 20%); */
    }

    .links li a:active {
      /* background: saturate(lighten(@color, 20%), 10%); */
    }

.quick {
  background: white;
  border-bottom: 1px solid lighten(@color, 55%);
}
  .quick .content {
    border-bottom: none;
  }

  .quick .social li a {
    text-decoration: none;
  }

  .quick .ss-icon {
    vertical-align: middle;
    margin: 0 8px 0 0;
  }

.assets ul {
  overflow: hidden;
}

.assets li {
  float: left;
  width: 200px;
  display: block;
  margin: 0 20px 20px 0;
}

.assets li img {
  .border-radius(3px);
}

.where {
  border-bottom: 1px solid #999;
}
  .where .map {
    width: 300px;
    height: 300px;
    float: left;
    border-radius: 3px;
  }

  .where .address {
    width: 250px;
    margin: 0 0 0 50px;
    float: right;
  }
