@import 'shared.css';

.header {
  background: #dedede url('/images/header_background.jpg') no-repeat center center;
  background-size: cover;
  text-align: left;
  padding: 0;
  color: white;
}
.header h1 {
  margin: 0;
  padding: 0;
}
.header h1 a{
  display: block;
  background: url('//barkingmousestudio.com/images/logo_small.png') no-repeat 0px 0px transparent;
  height: 325px;
  width: 600px;
  margin: 0 auto;
  padding: 0 197px;
  display: block;
  text-indent: -9999em;
}

.subheader{
  background: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.subheader h2 {
  width: 660px;
  margin: 0 auto;
  padding: 0;
  display: block;
  font-size: 32px;
  line-height: 72px;
  text-shadow: 0 1px 0 #ffffff;
  font-weight: bold;
  color: #555;
}

.section {
  color: #666;
  background: #f8f8f8;
  overflow: hidden;
}

.section h3 {
  color: #333;
  font-size: 24px;
  margin: 24px 0;
  padding: 0;
}

.section p {
  margin: 15px 0;
}

.section a:hover {
  color: #8d88ab;
}

.section .content {
  width: 660px;
  margin: 0 auto;
  overflow: hidden;
  padding: 48px 60px 60px;
  border-bottom: 1px solid #ccc;
}

.section.last .content {
  border-bottom: none;
}

.quicklinks {
  display: none;
  overflow: hidden;
}

.quicklinks li {
  float: left;
  text-align: center;
  width: 25%;
}

.quicklinks li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  /* background: saturate(lighten(@color, 30%), 10%); */
}

.quicklinks li a:hover {
  /* background: saturate(lighten(@color, 40%), 20%); */
}

.quicklinks li a:active {
  /* background: saturate(lighten(@color, 20%), 10%); */
}

.quick {
  background: white;
  border-bottom: 1px solid #efefef;
}

.quick .content {
  border-bottom: none;
}

.quick .social li a {
  text-decoration: none;
  color: #333;
}

.quick .social li a:hover {
  color: #8d88ab;
}

.quick .ss-icon {
  vertical-align: middle;
  margin: 0 8px 0 0;
}

.assets ul {
  overflow: hidden;
}

.assets li {
  float: left;
  width: 200px;
  display: block;
  margin: 0 20px 20px 0;
}

.assets li img {
  .border-radius(3px);
}

.where {
  border-bottom: 1px solid #999;
}

.where .map {
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 3px;
}

.where .address {
  width: 250px;
  margin: 0 0 0 50px;
  float: right;
}
