body {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
  text-indent: -9999em;
}

p.beta {
  font-size: 18px;
  position: fixed;
  bottom: 15%;
  left: 0;
  right: 0;
  z-index: 2;
}

a.link {
  color: #000;
}

a.contact {
  display: block;
  font-size: 24px;
  color: #efefef;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 2;
}

a:hover {
  color: #fff;
}

.mixpanel {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
