body {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  margin: 0;
  padding: 0;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
  text-indent: -9999em;
}

a {
  display: block;
  font-size: 24px;
  color: #efefef;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

a:hover {
  color: #fff;
}
